language: node_js
node_js:
- '7'
before_install:
- npm install -g npm@'^5.10.0'
- npm install -g RadonApp/radon-extension-build#$TRAVIS_BRANCH || npm install -g RadonApp/radon-extension-build#develop
install:
- neb travis:install $TRAVIS_BRANCH
- neb package:validate
- git diff --exit-code
script:
- npm run build
- npm run travis:test
- npm run travis:coverage
- npm run travis:lint
- if [ ! -f ./Build/Coverage/lcov.info ]; then exit 1; fi
after_success:
- npm install -g coveralls
- cat ./Build/Coverage/lcov.info | coveralls
deploy:
- provider: releases
  draft: true
  skip_cleanup: true
  api_key:
    secure: vekgJlION9BcJmfGWDyPKRWJzy5bQU3u72Qor1l1joZ73v0nBQT96AnorS0wtHse4regEwqHUmHCueG+8x/toNYu+TkeL/FCT0aTV+SKT08OxUcH4unzNsgSqP/2IcDjP1IeF2kFsRc9xDdN8963dtS+lrQLH1ftz2tn1kA0hMJGDfQ9lrRzsHvFhWg3bM4KXT6wKvoNOgtOQuQ1Gdv/M1K3Qr89b6Oj1YA1wkN7AsAyCJ7CRbIFCKjt/nioxo9+bSdA+gupnAVyYyu7f/OC6xFYOPLyU/sOhUH5Mb2YUrQDCxaiISiAdmz8zVAoduIq7T+7z7TlK52L6K0XR2PJAncP4/Dy4ULgQzAO7jpJ9rk2Ab5vY2slKPaqxO8wheWo1gGUXOB+kXlcSuDMvb2BYdA2+OSEwoFgmtyfZsuCOIygl2fnSiD2JX6vYfVpSVElEUHfXIhYsbFf9j5vs7aMTrRaNlA4Fs+g5ZHxUVRFWykHkr2NCkaPTrLxfil4LJiGbAg5jG7U9qEJnhdLPdcMTtCgjW647a7792eGjxHbpiamf2rfIhpCUZrSBlT1EfyrGtLkVFqEpzmDFo660+I1K3zNAqK64vtEbMC5y0ZchIA2yZ37X6RXVIir8esedWdTmYftQQ3vqnyXGUEaUV1AqDW2T5dOzpPv+h8xx+kFFvQ=
  file_glob: true
  file: Build/Production/Radon*.zip
  on:
    repo: RadonApp/radon-extension-opera
    tags: true
- provider: bintray
  skip_cleanup: true
  key:
    secure: YgzG2rCz2lCcG76Ed46fJvYW1IV604lUiHlEnDoZ1tEcts1blueliF0UzR+rrlCekjGkaNwouPkFXk8lnc4Wf2+6F6igt22JAnSM2eiCb0IjNG7lFTxA0eu69/I6QK9JDJqYnopT0LZDkrp5nw4RBvQz2t6TtQtywSowBjN7nJ1eCAUOqSMOjcrun3v15zsrBMiI7576YueQ/+s+dLjZwvDphRT8YWm9PVtVwSnJhfuL7NQkBt/jMb2iugBjk6DXL5e1wJBplFypZasfGmBkhDtec9kElI/wpxOCrRTN3gKYp4diMTOA18LVDElH6cwsokfZfF7M5BI9q4xTPl22CiWAQ/wukAt0HbwrFnL+bT6qb6+KiqY7PCpdVssktedlFvs2RqBK8FYjplNYq10t64LWm7S+jZVaCLDpJ//zEKlDzKvXwVQmJ51locgRQe/blo2lhYFD8f4uCzE9Z6crO2diEP0lmX+cd+YPmyWmvcCAG07D4ZF3RxYCaRw2CvkUr0vXSOSq1MgnxY9h7+aoRGcd9W5CXpnm21TIig7iOl44QLQDXXNOBLOX9sIsZZnQLC2GrFg4D5KMM/Jqh29Z3el/fNDaQmY4M71ZNeGDsvQmrcZIHgj/DkjM4FuBMbGH4v1cIIsF9AbgC5g9Sp5ai+lfalC8JGldJmX/UsUI3BA=
  file: Build/Production/bintray.json
  user: radon-ci
  on:
    repo: RadonApp/radon-extension-opera
    all_branches: true
